{# empty Twig template #}
{# empty Twig template #}
{# empty Twig template #}
{% extends "AcmeWebBundle:Default:base.html.twig" %}
{% block title %}
    Nuestra provincia: {{seccion}}
{% endblock %}
{% block title_spacer %}{% endblock %}
{% block body %}
    <style>
        .foto {
            width: 100%;
            height: 200px;
            background-size: cover;
        }
        .hermano {
            display: inline-block;
            height: 370px;
            overflow: hidden;
            margin: 5px;
            padding: 5px;
            max-width: 200px;
        }
    </style>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 400px;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .fraternidad-box{
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: gainsboro;
            padding: 5px;

        }
    </style>
    <div class="www-header" style="background-image: linear-gradient(to bottom, transparent, white), url(/img/pfspa_2017.jpg)">
        <span>                
            {{render(controller('AcmeSFSBundle:Segment:index',{identifier:'OFM_nosotros_title', type: 'text'}))}}
        </span>
        <p>                
            {{render(controller('AcmeSFSBundle:Segment:index',{identifier:'OFM_nosotros_descripcion', type: 'textarea'}))}}
        </p>
    </div>
    <script>
        $(function () {
            $("[section={{seccion}}]").addClass("active");
        });
    </script>
    <div class="www-gradient-page  sty-box-overflow-auto" style="min-height: 800px;">
        <div class="col-md-4">
            <div class="list-group">
                <a href="{{path('url_nosotros', {seccion: "nosotros"})}}" section="nosotros" class="list-group-item">Quienes somos</a>
                <a href="{{path('url_nosotros', {seccion: "historia"})}}" section="historia" class="list-group-item">Historia</a>
                <a href="{{path('url_nosotros', {seccion: "estatutos"})}}" section="estatutos" class="list-group-item">Estatutos</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="sheet-art sty-box-padding-10">
                {{render(controller('AcmeSFSBundle:Blog:index',{identifier: 'OFM_' ~ seccion}))}}
            </div>
        </div>
    </div>
{% endblock %}